pip>=9.0.1
numpy>=1.14
sympy<1.6
scipy
pytest>=3.6
pytest-runner
nbval
cached-property
py-cpuinfo
cgen>=2020.1
codepy>=2019.1
click
codecov
pytest-cov
devito
jupyter-book
matplotlib
vtk==8.1.2
mayavi
ipyevents
ipywidgets
jupyter
jupyter_contrib_nbextensions
dipy
xvfbwrapper
