pytest>=7.2,<8.0
pytest-runner
pytest-cov
nbval
cached-property
py-cpuinfo
devito==4.7
jupyter-book
matplotlib
vtk
mayavi
ipyevents
ipywidgets
jupyter
jupyter_contrib_nbextensions
bokeh
dipy
xvfbwrapper
scitools3
future
codecov